@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
}

body {
  overflow-x: hidden;
}
main {
  padding-bottom: 35rem !important;
}

/* img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* button svg {
  width: 1em;
  height: 1em;
} */

section {
  width: 100%;
  height: 100vh;
  color: white;
}
::-webkit-scrollbar {
  position: relative !important;
  width: 0;
  overflow: auto !important;
}

::-webkit-scrollbar-track {
  position: absolute;
  width: 10px;
  height: auto;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
  width: 10px;
  position: absolute !important;
  height: 10px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (min-width: 40rem) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;
}
