#leaflet-map {
  width: 100%;
  height: 300px;
  min-width: 300px;
  min-height: 400px;
  display: block;
  background: #f3f3f3;
  transition: width 0.2s, height 0.2s;
  position: absolute;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1023px) {
  #leaflet-map {
    width: 75vw !important;
    min-width: 0;
    max-width: 100vw;
    height: 400px;
  }
}

@media (max-width: 640px) {
  #leaflet-map {
    height: 600px;
    position: absolute;
    top: 18%;
    left: 3.4rem;
  }
}
